<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
	<title>OpenDRI</title>
	{% load staticfiles %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	{% block static %}
	{% endblock %}
  </head>
  <body>
	<div class="navbar navbar-default navbar-inverse" role="navigation">
	  <div class="container">
		{% if user.is_authenticated %}
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{% url 'opendri.event_log.list' %}">OpenDRI</a>
		</div>
		<div class="collapse navbar-collapse" id="OpenDRIPanel">
		  <ul class="nav navbar-nav">
			<li ><a href="{% url 'opendri.event_log.list' %}">DashBoard</a></li>
			<li class="dropdown">
			  <a href="{% url 'opendri.incidents.list' %}" class="dropdown-toggle" data-toggle="dropdown">Incidents <span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'opendri.incidents.unhandled_for_on_call_user' %}">Unhandled</a></li>
				<li><a href="{% url 'opendri.incidents.unhandled' %}">UnHandled (all Services)</a></li>
				<li><a href="{% url 'opendri.incidents.acknowledged' %}">Acknowledged</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'opendri.incidents.list' %}">All</a></li>
			  </ul>
			</li>
			<li><a href="{% url 'opendri.services.list' %}">Services</a></li>
			<li><a href="{% url 'opendri.escalation.list' %}">Escalation Policies</a></li>
			<li><a href="{% url 'opendri.schedules.list' %}">On-Call Schedules</a></li>
			<li><a href="{% url 'opendri.users.list' %}">Users</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                  <a href="{% url 'opendri.users.edit' user.id %}">Account</a>
                </li>
                <li role="presentation">
                  <a href="{% url 'opendri.auth.logout' %}">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
		</div><!-- /.navbar-collapse -->
		{% endif %}
	  </div>
	</div>
	<div class="container">
	  {% block content %}
	  {% endblock %}
	</div>
  </body>
</html>
